{% extends 'base.html' %}

{% block title %}
    修改个人信息
{% endblock %}

{% block header %}
    {% include 'backend_header.html' %}
{% endblock %}

{% block content %}
    <!-- Main Content -->
    <h1 class="text-center">修改个人信息</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form class="form-horizontal" action="." method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-4"><span>用户名：</span></div>
                        <div class="col-xs-8">{{ user.username }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 text-right"><span>邮　箱：</span></div>
                        <div class="col-xs-8 text-left">{{ user_form.email }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 text-right"><span>电　话：</span></div>
                        <div class="col-xs-8 text-left">{{ form.phone }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 text-right"><span>公　司：</span></div>
                        <div class="col-xs-8 text-left">{{ form.company }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 text-right"><span>职　业：</span></div>
                        <div class="col-xs-8 text-left">{{ form.job }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 text-right"><span>个人介绍：</span></div>
                        <div class="col-xs-8 text-left">{{ form.intro }}</div>
                    </div>
                    <div class="row">
                        <input type="submit" class="btn btn-primary " value="提交修改">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}