{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    个人信息
{% endblock %}

{% block header %}
    {% include 'backend_header.html' %}
{% endblock %}

{% block content %}
    <!-- Main Content -->
    <h1 class="text-center">个人信息</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-xs-4"><span>用户名：</span></div>
                    <div class="col-xs-8">{{ user.username }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-right"><span>邮　箱：</span></div>
                    <div class="col-xs-8 text-left">{{ user.email }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-right"><span>电　话：</span></div>
                    <div class="col-xs-8 text-left">{{ userprofile.phone }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-right"><span>公　司：</span></div>
                    <div class="col-xs-8 text-left">{{ userinfo.company }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-right"><span>职　业：</span></div>
                    <div class="col-xs-8 text-left">{{ userinfo.profession }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-right"><span>个人介绍：</span></div>
                    <div class="col-xs-8 text-left">{{ userinfo.aboutme }}</div>
                </div>
                <a href="{% url 'account:editme' %}">
                    <button class="btn btn-primary ">修改个人信息</button>
                </a>
            </div>
            <div class="col-md-5">
                <div style="margin-right: 100px;">
                    {% if userinfo.photo %}
                        <img alt="" src="{{ userinfo.photo | striptags }}" class="img-circle" id="my-photo">
                    {% else %}
                        <img alt="" src="{% static 'img/articuly.jpg' %}">
                    {% endif %}
                </div>
                <div style="margin-right: 100px;">
                    <button class="btn btn-primary" id="upload_image" onclick="upload_image_layer()">上传头像</button>
                </div>
            </div>
        </div>
    </div>
    {# 引入弹出层 #}
    <script type="text/javascript" src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/layer.js' %}"></script>
    <script>
        function upload_image_layer() {
            layer.open({
                title: "选择图片",
                area: ["650px", "530px"],
                type: 2,
                content: "{% url 'account:my_image' %}"
            })
        }
    </script>
{% endblock %}