{% extends 'base.html' %}

{% block title %}
    重置密码 - 开始
{% endblock %}


{% block header %}
    {% include 'backend_header.html' %}
{% endblock %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1>重置密码</h1>
                <form class="form-horizontal" action="." method="post">
                    {% csrf_token %}
                    <div class="form-group-lg">
                        <label class="control-label">请填写注册时使用的邮箱</label>
                        <div class="">{{ form.email }}</div>
                    </div>
                    <p></p>
                    <input type="submit" class="btn btn-primary btn-sm" value="重置密码">
                </form>
            </div>
        </div>
    </div>
{% endblock %}