{% extends 'base.html' %}

{% block title %}
    重置密码 - 输入新密码
{% endblock %}

{% block header %}
    {% include 'backend_header.html' %}
{% endblock %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1>重置密码</h1>
                <p>输入两次密码，别忘记了。</p>
                <form class="form-horizontal" action="." method="post">
                    {% csrf_token %}
                    <div class="form-group form-inline">
                        <label class="col-sm-5 control-label text-right">新密码：</label>
                        <div class="col-sm-7 text-left">{{ form.new_password1 }}</div>
                    </div>
                    <div class="form-group form-inline">
                        <label class="col-sm-5 control-label text-right">确认密码：</label>
                        <div class="col-sm-7 text-left">{{ form.new_password2 }}</div>
                    </div>
                    <input type="submit" class="btn btn-primary btn-lg" value="我再也忘不了这个密码了">
                </form>
            </div>
        </div>
    </div>
{% endblock %}