{% load staticfiles %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{% static 'img/backend-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>宁静致远</h1>
                    <span class="subheading">一个由Bootstrap和Django创建的博客</span>
                </div>
            </div>
        </div>
    </div>
</header>