<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{% url 'blog:blog_home' %}">宁静致远</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">菜单<i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'blog:blog_home' %}">主页</a></li>
                {#                <li class="nav-item"><a class="nav-link" href="{% url 'course:course_list' %}">课程列表</a></li>#}
                {% if user.is_authenticated %}
                    <li class="nav-item d-lg-none"><a class="nav-link" href="{% url 'blog:blog_post' %}">发表文章</a></li>
                    {#                    <li class="nav-item d-lg-none"><a class="nav-link" href="{% url 'course:course_create' %}">发布课程</a>#}
                    {#                    </li>#}
                    {#                    <li class="nav-item d-lg-none"><a class="nav-link" href="{% url 'account:aboutme' %}">个人信息</a></li>#}
                    <li class="nav-item d-lg-none"><a class="nav-link"
                                                      href="{% url 'account:password_change' %}">修改密码</a></li>
                    <li class="nav-item d-lg-none"><a class="nav-link" href="{% url 'account:user_logout' %}">退出</a>
                    </li>
                    <div class="dropdown d-none d-lg-block">
                        <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            您好，{{ user.username }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'blog:blog_post' %}">发表文章</a>
                            {#                            <a class="dropdown-item" href="{% url 'course:course_create' %}">发布课程</a>#}
                            {#                            <a class="dropdown-item" href="{% url 'account:aboutme' %}">个人信息</a>#}
                            <a class="dropdown-item" href="{% url 'account:password_change' %}">修改密码</a>
                            <a class="dropdown-item" href="{% url 'account:user_logout' %}">退出</a>
                        </div>
                    </div>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'account:user_login' %}">登陆</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'account:user_register' %}">注册</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>